# Dependencies
node_modules/

# Build outputs
dist/
out/
release/
*.vsix
*.out

# Operating System files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp

# Environment secrets
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
TestVault/