body {
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 12, 12);
    margin: 0;
    height: 100vh;
}

blockquote {
    background-color: rgb(50, 50, 50);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    padding-left: 4px;
}

code {
    background-color: rgb(65, 43, 85);
}

mark {
    background-color: rgb(96, 73, 118);
    color: white
}

#div-row-body {
    display: flex;
    flex-direction: row;
    background-color: rgb(12, 12, 12);
    margin: 0;
    height: 100vh;
    flex-grow: 1;
}

#top-bar {
    height: 35px;
    width: 100%;
    background-color: rgb(16, 16, 16);
    z-index: 5;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    align-items: center;
}

#search-wrapper {
    position: relative;
    margin-left: 50px;
}

#file-search-bar-input {
    border-radius: 15px;
    border: none;
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
    padding-left: 15px;
    height: 20px;
    outline: none;
    padding-left: 30px;
}

#search-wrapper svg {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

#top-bar-new-file {
    padding-top: 3px;
    position: relative;
    left: 73vw;
    border-radius: 5px;
    border-width: 0;
    background-color: rgb(16, 16, 16);
}

#top-bar-new-file:hover {
    background-color: rgb(31, 31, 31)
}

#save-file-top-bar {
    padding-top: 3px;
    position: relative;
    margin-left: auto;
    border-radius: 5px;
    border-width: 0;
    background-color: rgb(16, 16, 16);
}

#save-file-top-bar:hover {
    background-color: rgb(31, 31, 31)
}

#toggle-editor {
    padding-top: 3px;
    position: relative;
    border-radius: 5px;
    border-width: 0;
    background-color: rgb(16, 16, 16);
}

#toggle-editor:hover {
    background-color: rgb(31, 31, 31)
}

#toggle-preview {
    padding-top: 3px;
    position: relative;
    border-radius: 5px;
    border-width: 0;
    background-color: rgb(16, 16, 16);
    margin-right: 5px;
}

#toggle-preview:hover {
    background-color: rgb(31, 31, 31)
}

#side-tool-bar {
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    width: 40px;
    max-width: 50px;
    border-right: 1px solid rgb(78, 36, 118);
}

.side-bar-button {
    background-color: rgb(19, 19, 19);
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    margin-bottom: 0;
}

.side-bar-button:hover {
    background-color: rgb(31, 31, 31);
}

#file-explorer {
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 200px;
    max-width: 300px;
    overflow: auto;
    border-right: 1px solid rgb(61, 28, 91);
}

#file-explorer-tool-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid rgba(245, 245, 245, 0.175);
    margin-bottom: 10px;
}

.file-explorer-tool-bar-button {
    background-color: rgb(28, 28, 28);
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    margin-bottom: 3px;
}

.file-explorer-tool-bar-button:hover {
    background-color: rgb(19, 19, 19);
}

.tempFolderNameInput {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
    outline: none;
    caret-color: rgb(118, 43, 230);
    border: none;
    padding-left: 10px;
    height: 20px;
    border-radius: 2px;
}

.folder-wrapper-div {
    display: flex;
    flex-direction: column;  
}

.folderButton {
    border-width: 0;
    background-color: rgb(28, 28, 28);
    color: rgb(238, 238, 238);
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

}

.folderButton:hover {
    background-color: rgb(19, 19, 19)
}

.folderButton .folderSVG {
    transition: transform 0.2s ease;
}

.folderButton.open .folderSVG {
    transform: rotate(90deg);
}

.fileButton {
    border-width: 0;
    width: 100%;
    background-color: rgb(28, 28, 28);
    color: rgb(238, 238, 238);
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.fileButton:hover {
    background-color: rgb(19, 19, 19)
}

#editor-name-input-div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
}

#editor-name-input {
    outline-color: rgb(68, 38, 95);
    background-color: rgb(19, 19, 19);
    color: rgb(118, 43, 230);
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(214, 214, 214);
    font-size: 20px;
    height: 30px;
    padding-left: 15px;
}

#main-editor-div-wrapper {
    flex-grow: 1;
    min-height: 0;

    position: relative;
}

#main-editor-text-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(19, 19, 19);
    color: rgb(238, 238, 238);
    caret-color: rgb(118, 43, 230);
    resize: none;
    box-sizing: border-box;
    z-index: 2;
    font-size: 16px;
    padding: 10px;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

#main-editor-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(19, 19, 19);
    color: rgb(238, 238, 238);
    overflow-y: scroll;
    z-index: 1;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#right-side-bar {
    background-color: rgb(28, 28, 28);
    width: 200px;
    max-width: 400px;
    overflow: auto;
    border-left: 1px solid rgb(61, 28, 91);
}